<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wpj.dao.UserMsgMapper" >
  <resultMap id="BaseResultMap" type="com.wpj.domain.UserMsg" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
    <result column="user_activity" property="userActivity" jdbcType="BIT"/>
    <result column="user_last_login" property="userLastLogin" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="selectByUserName" resultType="com.wpj.domain.UserMsg">
    select * from user_msg WHERE user_name=#{userName};
  </select>
</mapper>