<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2017 wupj e-mail:wpjlovehome@gmail.com
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wpj.dao.UserMsgMapper" >
  <resultMap id="BaseResultMap" type="com.wpj.domain.UserMsg" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
    <result column="user_activity" property="userActivity" jdbcType="BIT"/>
    <result column="user_last_login" property="userLastLogin" jdbcType="TIMESTAMP" />
    <result column="user_motto" property="userMotto" jdbcType="VARCHAR" />
    <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
    <result column="user_nick" property="userNick" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="authResultMap" type="com.wpj.domain.UserMsg" extends="BaseResultMap">
    <association property="userRoleSet" javaType="com.wpj.domain.UserRole" >
      <id column="id" property="id" javaType="java.lang.String"></id>
      <result column="rolesName" javaType="java.lang.String" property="name"></result>
      <result column="uid" javaType="java.lang.String" property="uid"></result>
    </association>
  </resultMap>
  <select id="selectByUserName" parameterType="com.wpj.domain.UserMsg" resultMap="authResultMap">
    SELECT
    su.*,
    srole.name AS  rolesName
    FROM user_msg as su
    LEFT JOIN user_role srole on su.id=srole.uid
    <trim prefix="where" prefixOverrides="AND |OR " >
      <if test="userName!=null">
        su.user_name=#{userName}
      </if>
    </trim>
  </select>
</mapper>